@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.text-purple{
    color: #6415FF;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.nav__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
}

.nav__row{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 50px;
}

.logo__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__links{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link{
    padding-left: 24px;
}

.nav__link--primary{
    padding: 12px 32px;
    background-color: #6415FF;
    margin-left: 24px;
    border-radius: 24px;
    color: #F7FAFC;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

header{
    height: calc(100vh - 100px);
}

.header__container{
    width: 100%;
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title{
    font-size: 48px;
    text-align: left;
    color: #243E63;
}

.header__subtitle{
    font-size: 24px;
    text-align: left;
    margin: 32px 0;
    color: #243E63;
}

.header__description{
    max-width: 40%;
}

.get__started{
    position: relative;
    border: 2px solid rgb(226, 232, 240);
    max-width: 75%;
    border-radius: 100px;
    padding: 32px 64px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    transition: all 400ms ease;
}

.get__started:hover{
    border-color: gray;
}

input:active .get__started{
    color: #6415FF;
}

input:active{
    color: #6415FF;
}

input::placeholder{
    font-size: 16px;
    color: gray;
}

.header__btn{
    position: absolute;
    right: 12px;
    border-radius: 24px;
    padding: 12px 24px;
    background-color: #6415FF;
    color: #F7FAFC;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

input{
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 80px;
    padding-left: 12px;
}

.header__row{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trusted__customers{
    margin-top: 80px;
}

.trusted__customers--heading{
    color: gray;
}

.trusted__customers--wrapper{
    margin-top: 24px;
}

.trusted__customers--img{
    width: 450px;
}

.header__img{
    width: 60%;
}

.img--wrapper{
    width: 100%;
    margin-left: 20%;
}

.image{
    width: 90%;
}


/* FEATURES */

.features__container{
    margin: 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.section__title{
    text-align: center;
}

.features__heading1{
    font-size: 42px;
    text-align: center;
    color: rgb(74, 68, 68);
    margin-top: 12px;
    color: #243E63;
}

.features--para{
    text-align: center;
    color: gray;
    max-width: 60%;
    margin-top: 24px;
}

p{
    line-height: 1.5;
}

.features__row{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feature__title{
    
    width: 100%;
    margin-bottom: 24px;
}
.feature__para{
    text-align: left;
    width: 80%;
}

.features{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 80%;
    margin: 64px 0;
    flex-wrap: wrap;
}

.feature{
    width: calc(100%/3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
    
}

.feature__description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.feature__img--wrapper{
  margin-bottom: 24px;
 
}

.feature__img{
    padding-right: 30px;
}

/*QUALITY*/

.quality__row{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quality{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quality__container{
    margin: 64px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quality__description{
    width: 50%;
}

.quality__img--wrapper{
    width: 50%;
}

.quality__heading{
    font-size: 48px;
    color: #243E63;
}

.quality__img{
    width: 100%;
}

.section__title,
.quality__heading,
.quality__para{
    margin-bottom: 32px;
}

.section__title,
.quality__heading,
.quality__para{
    text-align: left;
}

.quality__button{
    padding: 12px 32px;
    color: #F7FAFC;
    background-color: #6415FF;
    border-radius: 32px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

/*STEPS*/

.steps__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.steps__row{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__img--wrapper{
    width: 50%;
}

.steps__img{
    width: 100%;
}

.steps__description{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 52px;
}

.steps__heading{
    font-size: 64px;
    color: #243E63;
}

.steps-wrapper{
    display: flex;
    margin-top: 32px;
    
}

.step__title{
    color: #243E63;
    
}

.step__para{
    color: #718096;
    max-width: 300px;
    
}

.step{
    height: 100px;
}

.steps{
    margin-left: 32px;
}

.numbering{
    height: 100px;
    color: #CBD5E0;
    font-size: 36px;
}

.value__img{
    width: 10px;
}

.values__img{
    width: 100%;
}

.section__heading{
    text-align: left;
    margin-bottom: 64px;
}

.section__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section__row{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__description{
    width: 50%;
}

.section__heading1{
    font-size: 48px;
    color: #243E63;
    margin-bottom: 24px;
}

.values__img--wrapper{
    width: 50%;
    margin-bottom: 200px;
    margin-left: 32px;

}

.values{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
}

.value{
    
    width: 50%;
}

.value__para{
    height: 300px;
    width: 80%;
    color: #718096;
}

.section__para{
    color: #718096;
}

.value__heading{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    
}

.value-heading{
    margin-left: 12px;
}

footer{
    background-color: #6415FF;
    height: 412px;
    animation: animatefooter 1000ms  ease;
}

.footer__row-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style-type: none;
}

.footer__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__row{
    width: 100%;
    max-width: 1200px;
    color: #F7FAFC;
}

.links{
    margin-top: 12px;
}

@keyframes animatefooter{
    0%{
        opacity: 0;
        transform: translateX(+1000px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.footer__links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 64px;
}

.footer__logoandcopyright{
    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
    margin: 64px 0;
    border-color: rgb(116, 44, 255);
}

.link{
    margin-top: 12px;
}

/* PRICE */

.price__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.price__row{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prices{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 100px 0;
}

.price{
    width: calc(100%/3);
    margin-right: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.price__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

.description__heading{
    color: #1A202C;
    font-size: 20px;
}

.description2{
    color: #F7FAFC !important;
}

.description{
    font-size: 16px;
    color: #718096;
    margin-top: 24px;
}
.price-type{
    color: #1A202C;
    margin-top: 24px;
}

.price-duration{
    color: #A0AEC0;
    font-size: 16px;
    margin-top: 24px;
}

.hr-price{
    color: rgb(129, 230, 217);
    align-content: center;
}

button{
    padding: 12px 32px;
    color: #F7FAFC;
    background-color: #6415FF;
    border-radius: 32px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    transition: all 400ms ease;
}

.price-value{
    font-size: 48px;
    color: #1A202C;
    margin-top: 32px;
}

.price2{
    background-color: rgb(100 21 255);
    color: #F7FAFC;
    background-image: rgb(100 21 255 / var(--tw-bg-opacity));
    border-radius: 6px;
}


.price__personal{
    margin-bottom: 24px;
    background-color: rgb(129, 230, 217);
    margin-top: 32px;
}

.price__business{
    margin-bottom: 24px;
    background-color:#F7FAFC;
    color: rgb(100 21 255);
    margin-top: 32px;

}

.price__enterprise{
    margin-bottom: 24px;
    background-color: rgb(178, 65, 150);
    margin-top: 32px;
}

.price__enterprise:hover,
.price__business:hover,
.price__personal:hover{
    transform: translateY(2px);
}

.price1{
    box-shadow: 4px 8px rgb(65,178,172);
    border-radius: 4px;
}

.price3{
    box-shadow: 4px 8px rgb(178, 65, 150);
    border-radius: 4px;
}

